@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.alert {
  margin: 10px 0px;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #d8000c;
  background-color: #ffbaba;
  border: 1px solid darken(#ffbaba, 15%);
  right: 13%;
  position: absolute;
}

.alert:before {
  padding-right: 12px;
  content: '\f057';
  font-family: 'FontAwesome';
}
